<div class="comment">
	
	<%= profile_picture(comment.user) %>
	      
	<div class="comment-message">
		<span class="comment-username">
			<%= comment.user.name %>
		</span>
		
		<%= sanitize comment.message %>
		
		<%= react_component "Ago", { since: comment.created_at.to_i}, style:"display:inline-block" %>

		<% if current_user.id == comment.user.id %>
			<%= link_to edit_comment_path(comment) do %><span class="glyphicon glyphicon-edit"></span><% end %>
			<%= link_to comment, method: :delete, data: { confirm: 'Etes-vous certain de supprimer ce commentaire ?' } do %><span class="glyphicon glyphicon-trash"></span><% end %>
		<% end %>           
	</div>

</div>
