<div class="comment">
	
	<%= profile_picture(comment.user) %>
	      
	<div class="comment-message">
		<span class="comment-username">
			<%= comment.user.name %>
		</span>
		
		<%= sanitize comment.message %>
		
		<span class="time">
      		<%= long_date(comment.created_at) %>
    	</span>

		<% if current_user.id == comment.user.id %>
			<%= link_to edit_comment_path(comment), class:"high-color" do fa_icon("edit") end %>
			<%= link_to comment, method: :delete, data: { confirm: 'Etes-vous certain de supprimer ce commentaire ?' }, class:"high-color" do fa_icon("trash") end %>
		<% end %>           
	</div>

</div>
