<h2>Votre commentaire</h2>


<%= form_with(model: @comment) do |form| %>
  <% if @comment.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  
    <%= form.text_area :message, id: :comment_message, placeholder: "Votre commentaire...", class:"form-control" %>
    <br />
    <%= form.hidden_field :post_id, id: :comment_post_id %>
    <%= form.hidden_field :user_id, id: :comment_user_id %>
    <%= form.submit "Mettre à jour", class:"btn btn-primary" %>

    
  </div>

<% end %>
