<div class="rounded-box">
	<h2>Recherche de "<%= @keyword %>"</h2>


	<% if @tags.present? %>
		<h4><%= pluralize( @tags.count, "tag trouvé", "tags trouvés", locale: :fr) %> : </h4>
		<ul>
		<% @tags.each do |tag| %>
			<li><%= link_to tag.name, tag_path(tag), class:"results" %> </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas de tag trouvé.</p>
		<p><%= link_to "Créer le tag \"#{@keyword}\"", new_tag_path(name: @keyword) %></p>
	<% end %>

	<% if @items.present? %>
		<h4><%= pluralize( @items.count, "item trouvé", "items trouvés", locale: :fr) %> : </h4>

		<ul>
		<% @items.each do |item| %>
			<li><%= link_to item.name, item %> </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas d'élément trouvé.</p>
	<% end %>

</div>

