<div class="rounded-box">
	<h2>Recherche de "<%= @keyword %>"</h2>


	<% if @folders.present? %>
		<h4><%= pluralize( @folders.count, "dossier trouvé", "dossiers trouvés", locale: :fr) %> : </h4>
		<ul>
		<% @folders.each do |folder| %>
			<li><%= link_to folder.name, folder_path(folder), class:"results" %> </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas de dossier trouvé.</p>
		<p><%= link_to "Créer le dossier \"#{@keyword}\"", new_folder_path(name: @keyword) %></p>
	<% end %>

	<% if @items.present? %>
		<h4><%= pluralize( @items.count, "élément trouvé", "éléments trouvés", locale: :fr) %> : </h4>

		<ul>
		<% @items.each do |item| %>
			<li><%= link_to item.name, item %> </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas d'élément trouvé.</p>
	<% end %>

</div>

