<div class="rounded-box search_results">
	<h2>Recherche de "<%= @keyword %>"</h2>


	<% if @folders.present? %>
		<h4><%= pluralize( @folders.count, "dossier trouvé", "dossiers trouvés", locale: :fr) %> : </h4>
		<ul>
		<% @folders.each do |folder| %>
			<li><%= link_to highlight(folder.name, @keyword, highlighter: '<strong>\1</strong>'), folder_path(folder) %> </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas de dossier correspondant.</p>
	<% end %>

	<% if @items.present? %>
		<h4><%= pluralize( @items.count, "item trouvé", "items trouvés", locale: :fr) %> : </h4>

		<ul>
		<% @items.each do |item| %>
			<li><%= link_to highlight(item.name, @keyword, highlighter: '<strong>\1</strong>'), item, title: "Créé le #{long_date(item.created_at)} par #{item.adder.name if item.adder.present?}"  %> </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas d'item correspondant.</p>
	<% end %>

	<% if @tags.present? %>
		<h4><%= pluralize( @tags.count, "tag trouvé", "tags trouvés", locale: :fr) %> : </h4>
		<ul>
		<% @tags.each do |tag| %>
			<li><%= link_to highlight(tag.name, @keyword, highlighter: '<strong>\1</strong>'), tag_path(tag) %> </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas de dossier correspondant.</p>
	<% end %>
	
	<% if @posts.present? %>
		<h4><%= pluralize( @posts.count, "message trouvé", "messages trouvés", locale: :fr) %> : </h4>
		<ul>
		<% @posts.each do |post| %>
			<li><%= short_date(post.created_at) %> : 
				<% if excerpt(post.message, @keyword).present? %>
					<%= link_to highlight(excerpt(post.message, @keyword, separator: ' ', radius: 8), @keyword, highlighter: '<strong>\1</strong>'), post, title: "Posté le #{long_date(post.created_at)} par #{post.user.name}" %>
				<% end %>
				<% if excerpt(post.preview_title, @keyword).present? %>
					<%= link_to highlight(excerpt(post.preview_title, @keyword, separator: ' ', radius: 8), @keyword, highlighter: '<strong>\1</strong>'), post, title: "Posté le #{long_date(post.created_at)} par #{post.user.name}" %>
				<% end %>
				<% if excerpt(post.preview_description, @keyword).present? %>
					<%= link_to highlight(excerpt(post.preview_description, @keyword, separator: ' ', radius: 8), @keyword, highlighter: '<strong>\1</strong>'), post, title: "Posté le #{long_date(post.created_at)} par #{post.user.name}" %>
				<% end %>
				<% if excerpt(post.preview_url, @keyword).present? %>
					<%= link_to highlight(post.preview_url, @keyword, highlighter: '<strong>\1</strong>'), post, title: "Posté le #{long_date(post.created_at)} par #{post.user.name}" %>
				<% end %>
			</li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas de message correspondant.</p>
	<% end %>

	<% if @comments.present? %>
		<h4><%= pluralize( @comments.count, "commentaire trouvé", "commentaires trouvés", locale: :fr) %> : </h4>

		<ul>
		<% @comments.each do |comment| %>
			<li><%= short_date(comment.created_at) %> : 
				<%= link_to highlight(excerpt(comment.message, @keyword, separator: ' ', radius: 8), @keyword, highlighter: '<strong>\1</strong>'), comment.post, title: "Posté le #{long_date(comment.created_at)} par #{comment.user.name}"  %> </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas de commentaire correspondant.</p>
	<% end %>

</div>

