<div class="rounded-box">
	<h2>Recherche de "<%= @keyword %>"</h2>


	<% if @series.present? %>
		<h4><%= pluralize( @series.count, "série trouvée", "séries trouvées", locale: :fr) %> : </h4>
		<ul>
		<% @series.each do |serie| %>
			<li><%= link_to serie.name, series_path(serie), class:"results" %> (<%= serie.category.name %>) </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas de série trouvée.</p>
		<p><%= link_to "Créer la série \"#{@keyword}\"", new_series_path(name: @keyword) %></p>
	<% end %>



	<% if @items.present? %>
		<h4><%= pluralize( @items.count, "élément trouvé", "éléments trouvés", locale: :fr) %> : </h4>

		<ul>
		<% @items.each do |item| %>
			<li><%= link_to item.name, series_path(item.series) %> (<%= item.series.name %>) </li>
		<% end %>
		</ul>
	<% else %>
		<p>Pas d'élément trouvé.</p>
	<% end %>

</div>

