<%= form_with(model: folder, local: true) do |form| %>
  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group row">
    <label for="item_name" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-3">
    	<%= form.text_field :name, id: :folder_name, class: "form-control", autocomplete: :off %>
    </div>  
  </div>
  
  <script>
  	var j_folder_list = <%= 	raw json_escape(@folders_list) %>;
	</script>
  <div class="form-group row">
    <label for="parent_name" class="col-sm-2 col-form-label">Dossier parent</label>
    <div class="col-sm-3 ui-widget">
    	<%= form.text_field :parent_name, id: :parent_name, class: "form-control" %>
    </div>  
  </div>
  
  
  <div class="form-group row">
    <label for="folder_letter" class="col-sm-2 col-form-label">Classement</label>
    <div class="col-sm-2">
    	<%= form.text_field :letter, id: :folder_letter, class: "form-control", autocomplete: :off %>
    </div>  
  </div>
  
  <div class="form-group row">
    <div class="col-form-label col-sm-2" >
      Affichage
    </div>
    <div class="col-sm-3">
       <%= form.select(:default_view, options_for_select([ ["Liste", "list"],["Galerie", "gallery"] ], @folder.default_view), {}, { class:"form-control custom-select" } ) %>
    </div>
  </div> 
    
  <div class="form-group row">
    <div class="col-sm-8 offset-sm-2">
    	<%= form.submit(submit_text, class: "btn btn-primary") %>
    </div>  
  </div>
    
<% end %>
