<ul class="list-group collector-item-list">

	<li class="list-group-item collector-item-li bg-major pt-2 pb-2">
		<div class="row align-items-center">
			<div class="col-10 col-lg-5 row">
				<div class="col-2">
					N°
				</div>
				<div class="col-10">
					Titre
				</div>
			</div>
			<div class="col-lg-5 d-none d-lg-block">
				Tags
			</div>
		</div>
	</li>

	<% items.each do |item| %>
		<li class="list-group-item collector-item-li <%= item.is_owned? ? "owned" : "not-owned" %>" data-item-id="<%= item.id.to_s %>">
			<div class="row align-items-center">
				<div class="col-10 col-lg-5 row" >
					<div class="col-2 text-secondary">
						<%= item.friendly_number %>
					</div>
					<div class="col-10">
						<%= link_to item.name, item %>
					</div>
				</div>
				<div class="col-lg-5 d-none d-lg-block">
					<%= item.tags.map { |tag| tag.name }.join(", ").html_safe %>
				</div>
				<div class="col-2 col-lg-2 text-right">
					<%= render_users(item) %>
					<%= check_box_tag 'item_ids[]', item.id, false, {id: dom_id(item), style: "display:none;"} %>
				</div>
			</div>
		</li>
	<% end %>
</ul>
