<div class="row">
	<div class="col-sm-8">
		<div class="rounded-box">
			<h2><%= @user.name %></h2>

			<p>Courriel : <%= @user.email %></p>
			<p>Dernière connexion : <%= long_date(@user.last_sign_in_at) %></p>

			<% if current_user.can?(:une) %>
				<h3>Dernier message</h3>
				<% if @last_post.present? %>
					<p><small>Posté le <%= long_date(@last_post.updated_at) %></small></p>
					<p><%= @last_post.message %></p>
				<% else %>
					<p>Aucun message posté</p>
				<% end %>
			<% end %>

			<h3>Derniers ajouts en <%= @months_quantity %> mois</h3>

			<ul>
			<% @items.each do |item| %>
				<li><%= link_to( name_for(item), item.series) %> 
					<small>, le <%= long_date(item.created_at) %> </small></li>
			<% end %>	
			</ul>
		</div>
	</div>
	<div class="col-sm-4">
		<% if @user.avatar.present? %>
			<div class="user-avatar">
				<%= image_tag @user.avatar.url(:medium) %><br />
				<% if @user.id == current_user.id %>
					<small>
						<%= link_to "Supprimer l'image de profil", delete_profile_picture_user_path(current_user.id) %>
					</small>
				<% end %>
			</div>
		<% end %>
	</div>
	
</div>