<div class="row">
	<div class="col-sm-8">
		<div class="rounded-box">
			<div class="float-right">
				<%= link_to 'Modifier mon profil', edit_user_registration_path, class:"high-color" %>
			</div>
			<h2><%= @user.name %></h2>

			<p>
				Courriel : <%= @user.email %><br />
				Dernière connexion : <%= long_date(@user.last_sign_in_at) %>
			</p>

			<h3>Derniers ajouts en <%= @months_quantity %> mois</h3>

			<ul>
			<% @items.each do |item| %>
				<li><%= link_to item.name, item %> 
					<small>, le <%= long_date(item.created_at) %> </small></li>
			<% end %>	
			</ul>
		</div>
	</div>
	<div class="col-sm-4">
		<% if @user.avatar.present? %>
			<div class="user-avatar">
				<%= image_tag @user.avatar.url(:medium) %><br />
				<% if @user.id == current_user.id %>
					<small>
						<%= link_to "Supprimer l'image de profil", delete_profile_picture_user_path(current_user.id) %>
					</small>
				<% end %>
			</div>
		<% end %>
	</div>
	
</div>
