
<!-- carousel bootstrap 4 -->
<div id="itemCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  
  <div class="carousel-inner">
    <% attachments.each_with_index do |attachment, i| %>
      <div class="carousel-item <%= 'active' if i==active_slide_id %>">
        <%= image_tag ("/"+attachment.image.url(:big)), class:"d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
          <p><%= long_date(attachment.created_at) %></p>
        </div>
      </div>
      <% content_for :carousel_indicators do %>
        <li data-target="#itemCarousel" data-slide-to=<%= i.to_s %> class="<%= 'active' if i==active_slide_id %>"></li>
      <% end %>
    <% end %>
  </div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <%= yield :carousel_indicators %>
  </ol>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#itemCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#itemCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
<!-- end of carousel -->
