<div class="btn-toolbar" role="toolbar" aria-label="Button group with nested dropdown">
  <div class="btn-group" role="group">

		<div class="input-group">
			<%= form_tag(search_keyword_path, method: "get", class: "") do %>
				<%= text_field_tag(:keyword, "", placeholder: "Rechercher", class: 'form-control', autocomplete: 'off') %>
			<% end %>
		</div>
				
    <% if @items.present? and @folder.present? %>

      <%# Bouton Tri par date ou tri par numéro %>
      <% if @order == "date" %>
        <%= link_to folder_path(@folder, order: "number", view: params[:view]), class:"btn btn-light", role:'button', title:"Cliquer pour trier par numéro" do %>
          <%= fas_icon "sort-numeric-down" %>
        <% end %>
      <% else %>
        <%= link_to folder_path(@folder, order: "date", view: params[:view]), class:"btn btn-light", role:'button', title:"Cliquer pour trier par date" do %>
          <%= far_icon "clock" %>
        <% end %>
      <% end %>

      <%# Bouton Liste <=> Galerie %>
      <% if @view == "list" %>
        <%= link_to folder_path(@folder, view: "gallery", order: params[:order]), class:"btn btn-light", role:'button', title:"Cliquer pour afficher en galerie" do %>
          <%= far_icon "image" %>
        <% end %>
      <% else %>
        <%= link_to folder_path(@folder, view: "list", order: params[:order]), class:"btn btn-light", role:'button', title: "Cliquer pour afficher en liste" do %>
          <%= fas_icon "list-ul" %>
        <% end %>
      <% end %>
    <% end %>

    <%# Bouton Menu déroulant %>
    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= fas_icon "cog" %>
    </button>

    <%# Menu déroulant %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">

    	<%= link_to "<i class='far fa-file'></i>Nouvel item".html_safe, new_item_path(@new_item_options), class:'dropdown-item' %>
      <% if @item.present? %>
        <%= link_to "<i class='fas fa-file'></i>Modifier item".html_safe, edit_item_path(@item), class:'dropdown-item' %>
        <%= link_to "<i class='far fa-trash-alt'></i>Supprimer item".html_safe, @item, method: :delete, class:'dropdown-item', data: { confirm: 'Etes vous certain de supprimer cet item définitiement ?' } %>
      <% end %>
      
      <div class="dropdown-divider"></div>
      <%= link_to "<i class='far fa-folder'></i>Nouveau dossier".html_safe, new_folder_path(@new_folder_options), class:'dropdown-item' %>
      <% if @folder.present? %> 
      	<%= link_to "<i class='fas fa-folder'></i>Modifier dossier".html_safe, edit_folder_path(@folder), class:'dropdown-item' %>
        <%= link_to "<i class='far fa-trash-alt'></i>Supprimer dossier".html_safe, @folder, method: :delete, class:'dropdown-item', data: { confirm: 'Etes vous certain de supprimer ce dossier définitiement ?' } %>
      <% end %>

      <% if @tag.present? %> 
        <div class="dropdown-divider"></div>
      	<%= link_to "<i class='fas fa-edit'></i>Modifier tag".html_safe, edit_tag_path(@tag), class:'dropdown-item' %>
        <%= link_to "<i class='far fa-trash-alt'></i>Supprimer tag".html_safe, @tag, method: :delete, class:'dropdown-item', data: { confirm: 'Etes vous certain de supprimer ce tag définitiement ?' } %>
      <% end %>


    </div>

  </div>
</div>
