
<% if true && Rails.env == "development" %>
	<div class="rounded-box">
		<p>session[:bc] = <%= session[:bc].inspect %></p>
		
		<h4>Folder</h4>
		<% if @folder.present? %>
			<p>Dossiers parents de "<%= @folder.name %>" = <%= @folder.parent_folders.collect{ |t| t.name }.inspect %></p>
		<% else %>
			Folder inexistant
		<% end %>

		<h4>Item</h4>
		<% if @item.present? %>
			<p>Item : <%= @item.inspect %></p>
			
		<% end %>

		<h4>Params</h4>
		<%= params.inspect %>

	</div>
<% end %>