<div class="rounded-box">
	<div class="pull-right">
		
		<%= link_to "Ajouter", new_item_path(view: 'bd'), class:'btn btn-primary' %>
		
	</div>

	<h1>Collector</h1>


	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 offset-md-4 collector-search">
				<%= render partial: "search/form_tags" %>
			</div>
		</div>

		<% if @root_tags.present? %>
			<% @root_tags.each_with_index do |tag, index| %>
				<% if (index % 3 == 0) %>
					<div class="row">
				<% end %>
					<div class="col-md-4">

						<div class="card card-latest">
						  <div class="card-header bg-major">
						    <%= link_to tag.name, tag_path(tag), class:'text-light' %>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<% tag.items.order(created_at: :desc).limit(5).each do |item| %>
						    	<li class="list-group-item" title="Ajouté par <%= item.adder.name %>, le <%= long_date(item.created_at) %>">
						    		<span class="pull-right text-secondary" >le <%= short_date(item.created_at) %>	</span>
						    		<%= link_to truncate(item.name, length: 40), item, title: ('Ajouté par '+item.adder.name+', le '+long_date(item.created_at)) %>
						    	</li>
						    <% end %>
						  </ul>
						</div> <!-- card -->

					</div> <!-- col -->
				<% if (index % 3 == 2) %>
					</div> <!-- row -->
				<% end %>
			<% end %>
		<%end %>
	</div>

</div>
