
<style>
body {
	/* Hack pour avoir un fond blanc sur la page d'accueil ... */
	background : white !important;
}
</style>

<div class="text-center">
	<%= image_tag @image_name, class:"welcome-logo img-fluid" %>

	<div class="text-center mt-4 mb-4">
		<%= link_to posts_path, class:"btn btn-primary" do %> 
			La Une 
			<% if @counter_la_une > 0 %>
				<span class="badge badge-danger"> <%= @counter_la_une.to_s %> </span>
			<% end %>
		<% end %>
		<%= link_to welcome_collector_path, class:"btn btn-primary" do %> 
			Collector
			<% if @counter_collector > 0 %>
			 	<span class="badge badge-danger"> <%= @counter_collector.to_s %> </span>
			<% end %>
		<% end %>
	</div>
	<div class="text-center mt-4 mb-4">
		<%= link_to "Stedan", "http://stedan.be", class:"btn btn-outline-primary" %> 
		<%= link_to "Place2be", "https://place2be.io", class:"btn btn-outline-primary" %>
		<%= link_to "Sigmadelta", "https://sigmadelta.io", class:"btn btn-outline-primary" %>
	</div>
</div>