<%= form_with model: tag, local: true, class:"form-horizontal" do |form| %>

 <% if tag.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <%= pluralize(tag.errors.count, "erreur") %> bloquent la création de ce tag :
      <ul>
        <% tag.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="tag_name">Nom</label>
    <div class="col-sm-3">
      <%= form.text_field :name, id: "tag_name", class: "form-control",autocomplete: :off, autofocus: true %>
    </div>  
  </div>

    <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <%= form.submit submit_text, class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
