<%= form_with model: tag, local: true, class:"form-horizontal" do |form| %>

 <% if tag.errors.any? %>
    <div id="error_explanation">
        <%= pluralize(tag.errors.count, "erreur") %> bloquent la création de cet auteur :
      <ul>
        <% tag.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label class="control-label col-sm-2" for="tag_name">Nom</label>
    <div class="col-sm-3">
      <%= form.text_field :name, id: "tag_name", class: "form-control", placeholder: "Nom ?",autocomplete: :off %>
    </div>
  </div>

    <div class="form-group row">
    <label class="control-label col-sm-2" for="tag_letter">Classement</label>
    <div class="col-sm-3">
      <%= form.text_field :letter, id: :tag_letter, class: "form-control", placeholder: "?", autocomplete: :off %>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="control-label col-sm-2" >
      Affichage
    </div>
    <div class="col-sm-3">
       <%= form.select(:default_view, options_for_select([ ["Liste", "list"],["Galerie", "gallery"] ], @tag.default_view), {}, { class:"form-control" } ) %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      Options
    </div>
		<div class="col-sm-10">
      <div class="form-check">
        <%= form.label :view_alphabet do %>
          <%= form.check_box :view_alphabet, id: :tag_view_alphabet, class:"form-check-input" %> Afficher la barre Alphabet
        <% end %>
      </div>
      <div class="form-check">
        <%= form.label :filter_items do %>
          <%= form.check_box :filter_items, id: :tag_filter_items, class:"form-check-input" %> <span title="Si coché (true), les items seront filtrés pour n'afficher que les items liés explicitement à ce tag. Décoché (false), ce tag ne sert pas à filtrer les items et n'est utile qu'à la navigation (classement).">Filtre les items</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <%= form.submit submit_text, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="form-group row">
      <div class="col-sm-2">
        Parents
      </div>
      <div class="col-sm-3">
        <ul class="list-group">
          <% if @tag.parent_tags.present? %>
            <% @tag.parent_tags.order(name: :asc).each do |tag| %>
              <li class="list-group-item">
                <%= link_to(tag.name, edit_tag_path(tag)) %>
              </li>
            <% end %>
          <% else %>
            <li class="list-group-item">Aucun parent</li>
          <% end %>
        </ul>
        <%= form.select 'parent_tags', 
          options_from_collection_for_select(Tag.all, :id, :name, tag.parent_tag_ids ), 
          { include_blank: true },
          { multiple: true,  class: 'chosen-select' }
        %>
      </div>
      <div class="col-sm-3">
        <div class="pull-left pr-2 pt-3"><%= fa_icon "arrow-right" %></div>
        <div class="pull-right pl-2 pt-3"><%= fa_icon "arrow-right" %></div>
        <ul class="list-group">
          <li class="list-group-item">
            <%= link_to tag.name, tag %>
          </li>
        </ul>
        
      </div>
      <div class="col-sm-3">
        <ul class="list-group">
          <% if @tag.tags.present? %>
            <% @tag.tags.order(name: :asc).limit(20).each do |tag| %>
              <li class="list-group-item">
                <%= link_to(tag.name, edit_tag_path(tag)) %>
              </li>
            <% end %>
            <%= '<li class="list-group-item">...</li>' if @tag.tags.count > 20 %>
          <% end %>
          <% if @tag.items.present? %>
            <li class="list-group-item">
              <%= link_to tag_path(@tag) do %> 
                <%= @tag.items.count %> items
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

<% end %>
