

<div class="row item-gallery">
	<% items.each_with_index do |item, i| %>

		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" >

			<div class="panel panel-default">
				<div class="panel-heading">
					<%= link_to item do %>
						<% if item.attachments.present? && item.attachments.last.image.exists? %>
							<%= image_tag "/" + item.attachments.last.image(:medium), class:"img-responsive" %>
						<% else %>
							<%= image_tag "no-image.png", class:"img-responsive img-rounded" %>
						<% end %>
						
						<% if item.number %>
							<div class="panel-overlay">
								<span>n°<%= item.friendly_number %></span>
							</div>
						<% end %>
					<% end %>
				</div>
				<div class="panel-body">
					<span class="item-name"><%= link_to item.name, item %></span>					
				</div>
			</div>

		</div>

		<%= clear_fix(i) %>

	<% end %>
</div>
