
<ul class="list-group collector-item-list">
	<% items.each do |item| %>
		<li class="list-group-item">
			<%# item.is_owned_by?(current_user.id) ? "list-group-item-success" : "" %>
			<div class="row align-items-center">
				<!-- etonnement, col-xs-1 ne passe pas... -->
				<div class="col-1">	
					<%= item.friendly_number %>
				</div>
				<!-- étonnement, col-11 ne passe pas même si le total fait bien 12...  -->
				<div class="col-9 col-md-4">
					<%= link_to item.name, item %>
				</div>
				<div class="col-md-4 d-none d-md-block">
					<%= item.different_tags(session[:active_tags]).collect { |tag| link_to tag.name, tag }.join(", ").html_safe %>
				</div>
				<div class="col-md-2 d-none d-md-block">
					<%= render_users(item) %>
				</div>
				<div class="col-1">	
					<%= check_box_tag( 'item_ids[]', item.id) %>
				</div>
			</div>
		</li>
	<% end %>
</ul>
