<%= form_with(model: @new_item, local: true, class:"form-horizontal") do |form| %>

	<table class="table table-sm">
	  <thead>
		  <tr>
		    <th></th>
		    <th>Titre</th>
			<th>Tags</th>
			<th>Utilisateurs</th>
		  </tr>
	  </thead>
	  <tbody>
		<% items.each do |item| %>
			<% if item.is_owned_by?(current_user.id) %>
				<tr class="owned-by-user">
			<%else %>
				<tr class="not-owned-by-user">
			<% end %>
					<td class="text-center">
						<%= item.friendly_number %>
					</td>
					<td>
						<%= link_to item.name, item %></a>
					</td>
					<td>
						<%= item.different_tags(session[:active_tags]).collect { |tag| link_to tag.name, tag }.join(", ").html_safe %>
					</td>
					<td>
						<%= item.users.map{ |user| link_to user.name, user }.join(", ").html_safe %>
					</td>
				</tr>
		<% end %>

		<tr>
			<td>
				<%= form.text_field :number, id: :item_number, value: @new_item.friendly_number, placeholder: "n°", class: "form-control", size: 1 %>
			</td>
			<td>
				<%= form.text_field :name, id: :item_name, placeholder:"Titre", size: 36, class: "form-control" %>
			</td>
			<td>
	      		<%# form.submit "Créer" %>
			</td>
		</tr>

	  </tbody>
	</table>

  <% if @new_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @new_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
