<div class="rounded-box">
	<div class="pull-right">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<span class="glyphicon glyphicon-cog"></span>
		 	<span class="caret"></span></button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><%= link_to "Nouveau tag", new_tag_path  %></li>
			    </li>
		  	</ul>
		</div>				
	</div>

	<h1>Collector</h1>

	<div class="collector-search">
		Recherche...
	</div>

	
	<% if @root_tags.present? %>
		<div class="container-fluid">
			<% @root_tags.each_with_index do |tag, index| %>
				<% if (index % 3 == 0) %>
					<div class="row">
				<% end %>
					<div class="col-md-4">
						<div class="panel panel-primary ">
							
							<div class="panel-heading">
								<%= link_to tag.name, tag_path(tag), class: "white"  %>
							</div>
							<table class="table">
								<% tag.items.order(created_at: :desc).limit(5).each do |item| %>
								    <tr>
								    	<td><%= link_to item.name, item %></td>
								    	<td><%= link_to item.adder.name, item.adder %>, le 
								    		<%= short_date(item.created_at) %></td>
								    </tr>
							    <% end %>
							</table>
						</div>
					</div>
				<% if (index % 3 == 2) %>
					</div>
				<% end %>
			<% end %>
		</div>
	<%end %>

	<%if @orphans.present? %>
		<h3>Dossiers orphelins</h3>
		<ul>
			<% @orphans.each do |tag| %>
			<li><%= link_to tag.name, tag %></li>
			<% end %>
		</ul>
	<% end %>

</div>
