<div class="rounded-box">
	<div class="float-right">
		<%= render partial: "shared/collector_menu" %>
	</div>
	
	<h1>Tags</h1>

	<div class=" pb-3 text-center">
		<%# render partial: "search/form_tags" %>
	</div>


	<div class="btn-group mb-4">
		<% ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "XYZ", "#", "vide", "orphelins"].each do |letter| %>
			<%= link_to letter, tags_path(letter: letter), role: "button", class: "btn btn-light btn-xs #{"active" if (params[:letter]==letter)}" %>
		<% end %>
	</div>
	
	<% if @tag_counter.present? %>
		<p>Il y a <%= @tag_counter.to_s %> tags dans la base de données.</p>
	<% end %>

	<% if @tags.present? %>
		<%= will_paginate @tags, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
		<table class="table table-sm">
			<tr>
				<th>id</th>
				<th>Nom</th>
				<th>Lettre</th>
				<th>Items</th>
				<th>Actions</th>
			</tr>
			<% @tags.each do |tag| %>
				<tr>
					<td><%= tag.id.to_s %></td>
					<td><%= link_to tag.name, tag %></td>
					<td><%= tag.letter %></td>
					<td><%= tag.items.present? ? tag.items.count.to_s : "0" %></td>
					<td>
						<%= link_to edit_tag_path(tag) do far_icon "edit" end %>
						<%= link_to tag_path(tag), method: :delete, data: { confirm: 'Etes-vous certain de supprimer ce tag ?' } do far_icon "trash-alt" end %>
					</td>
				</tr>
			<% end %>
		</table>
		<%= will_paginate @tags, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	<%end %>

</div>
