<div class="rounded-box">
	<div class="pull-right">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<span class="glyphicon glyphicon-cog"></span>
		 	<span class="caret"></span></button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><%= link_to "Nouveau tag", new_tag_path  %></li>
			    <li><%= link_to "Modifier le tag", edit_tag_path(@tag)  %></li>
			    <li><%= link_to "Supprimer le tag", tag_path(@tag), method: :delete, data: { confirm: 'Etes-vous certain de supprimer ce tag ?' } %>
			    </li>
		  	</ul>
		</div>				
	</div>


	<h1><%= @tag.name %></h1>
	<p><%= breadcrumbs_for(@tag) %> </p>

	<h3>Enfants</h3>
	<ul>
		<% @tag.tags.each do |tag| %>
			<li><%= link_to tag.name, tag %></li>
		<% end %>
	</ul>

	<h3>Items</h3>
	<ul>
		<% @items.each do |item| %>
			<li><%= link_to item.name, item %></li>
		<% end %>
	</ul>

</div>