<div class="rounded-box">
	<div class="pull-right">
		<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
			<%= link_to new_item_path(view: 'bd', series: @tag.name), class:"btn btn-light", role:'button' do %>
				<%= fa_icon("plus") %>
			<% end %>
			<% if @view == "list" %>
				<%= link_to tag_path(@tag, view: "gallery"), class:"btn btn-light", role:'button' do %>
					<%= fa_icon "image" %>
				<% end %>
			<% else %>
				<%= link_to tag_path(@tag, view: "list"), class:"btn btn-light", role:'button' do %>
					<%= fa_icon "list-ul" %>
				<% end %>
			<% end %>
		 
		  <div class="btn-group" role="group">
		    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <%= fa_icon "cog" %>
		    </button>
		    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
		    	<%= link_to "Nouvel item", new_item_path, class:'dropdown-item' %>
		    	<%= link_to "Nouvel item BD", new_item_path(view: 'bd', series: @tag.name), class:'dropdown-item' %>
			    <div class="dropdown-divider"></div>
			    <%= link_to "Nouveau tag", new_tag_path(parent_tag: @tag.id), class:'dropdown-item'  %>
			    <%= link_to "Modifier \"#{@tag.name}\"", edit_tag_path(@tag), class:'dropdown-item'  %>
			    <%= link_to "Supprimer \"#{@tag.name}\"", tag_path(@tag), method: :delete, class:'dropdown-item', data: { confirm: 'Etes-vous certain de supprimer ce tag et tout ce qu\'il contient ?' } %>
		    </div>
		  </div>
		</div>	
	</div>


	<h1><%= @tag.name %></h1>

	<div class="mt-3 mb-3">
		<%= render_tags(@active_tags, true) %>
		<div style="display:inline-block;">
			<%# render partial: "search/form_tags" %>
		</div>
	</div>

	
	
	<% if @tag.view_alphabet %>
		<div class="btn-group header-letters">
			<% ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "XYZ", "vide"].each do |letter| %>
				<%= link_to letter, tag_path(@tag, letter: letter), role: "button", class: "btn btn-light btn-xs #{"active" if (params[:letter]==letter)}" %>
			<% end %>
		</div>
	<% end %>

	
	<% if @tags.present? %>
		<%= will_paginate @tags, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
		<ul class="children_tags">
			<% @tags.each do |tag| %>
				<li><%= link_to tag.name, tag  %></li>
			<% end %>
		</ul>
	<%end %>

	<% if @items.present? %>
		<% if @view.present? %>
			<%= render partial: @view, locals: {items: @items } %>
		<% else %>
			<p>Ce dossier contient <%= @items.count %> items.</p>
		<% end %>
	<% end %>


</div>
