<div class="rounded-box">
	<div class="float-right">
		<%= render partial: "shared/collector_menu" %>
	</div>

	<h4>Tag : <%= @tag.name %></h4>


	<%= will_paginate @items %>
	
	<ul>
	<% @items.each do |item| %>
		<li><%= item.id %> - <%= link_to item.name, item %></li>
	<% end %>
	</ul>

	<%= will_paginate @items %>
		
</div> <!-- rounded-box -->
