<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		<%= form.text_field :numero, id: :item_numero, placeholder: "n°", size:2 %>
		<%= form.text_field :name, id: :item_name, placeholder:"Titre", size: 36 %>
		<%= form.text_field :authors_list, size: 30, placeholder: "Auteurs" %>
		<%= form.hidden_field :series_id %>
  	<%= form.submit submit_text %>
	</div>

<% end %>
