<%= form_with(model: item, local: true, :html => { :multipart => true } ) do |form| %>
  <% if item.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h3>Oups...</h3>
      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label for="tag_series" class="col-md-2 col-form-label">Série</label>

    <div class="col-md-6">
      <%= form.text_field :tag_series, id: "tag_series", class: "form-control", autocomplete: :off, data: { tag_list: @series_list } %>
    </div>
    <div class="col-md-3">
      <%= form.select(:item_type, @item_types, { selected: @item.item_type }, { id:"item_type", class:"form-control custom-select" }) %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :name, "Titre", class:"col-form-label col-md-2" %>
    <div class="col-md-1">
      <%= form.text_field :number, id: :item_number, value: item.friendly_number, class: "form-control", placeholder:"n°", autocomplete: :off %>
    </div>
    <div class="col-md-5">
      <%= form.text_field :name, id: :item_name, class: "form-control", placeholder:"Titre", autocomplete: :off, autofocus: true %>
    </div>
  </div>
  

  <div class="form-group row">
    <label for="tag_auteurs" class="col-md-2 col-form-label">Auteurs</label>
    <div class="col-md-6">
      <%= form.text_field :tag_auteurs, id: "tag_auteurs", class: "form-control", autocomplete: :off, data: { tag_list: @auteurs_list } %>
    </div>
  </div>

  <div class="form-group row">
    <label for="tag_rangements" class="col-md-2 col-form-label">Rangement</label>
    <div class="col-md-6">
      <%= form.text_field :tag_rangements, id: "tag_rangements", class: "form-control", autocomplete: :off, data: { tag_list: @rangements_list } %>
    </div>
  </div>
 
  <div class="form-group row">
    <div class="offset-md-2 col-md-10">
      <%= hidden_field_tag "view", "bd" %>
      <%= form.submit "Créer", class:"btn btn-primary" %>
      <%= link_to "Annuler", @last_tag_path, class:"btn btn-light ml-4" %>
    </div>
  </div>

<% end %>

