<%= form_with(model: item, local: true, :html => { :multipart => true }, class: "form-horizontal") do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :number, "Numéro", class:"control-label col-sm-2" %>
    <div class="col-sm-3">
      <%= form.text_field :number, id: :item_number, value: item.friendly_number, class: "form-control", placeholder:"Entier ou décimal avec un point", autocomplete: :off %>
    </div>
    <div class="col-sm-3">
      <span class="help-block"> Série :  <%= link_to @series.name, @series %> </span>    
    </div>
  </div>
  <div class="form-group">
    <%= form.label :name, "Titre", class:"control-label col-sm-2" %>
    <div class="col-sm-6">
       <%= form.text_field :name, id: :item_name, class: "form-control", autocomplete: :off %>
    </div>
  </div>
  <% if item.series.category.tag_name.present? %>
    <div class="form-group">
      <%= form.label :tags_list, item.series.category.tag_name, class:"control-label col-sm-2" %>
      <div class="col-sm-6">
        <%= form.text_field :tags_list, id: :item_tags_list, class: "form-control", placeholder:"Séparés par une virgule", autocomplete: :off %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :description, "Description", class:"control-label col-sm-2" %>
    <div class="col-sm-6">
      <%= form.text_area :description, id: :item_description, class: "form-control", autocomplete: :off %>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2">Images</label>
    <div class="col-sm-10">
      <%= form.file_field :attachments, multiple: true %>

      <% @item.attachments.each do |attachment| %>
        <div class="attachment-thumbnail">
          <%= link_to delete_attachment_item_path(@item, attachment.id), data: { confirm: "Etes-vous sûr de supprimer cette pièce jointe ?" } do %>
            <span class="glyphicon glyphicon-remove", title="Supprimer"></span>
          <% end %>
          <%= image_tag attachment.image.url(:thumb) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-1">
      <%= form.hidden_field :series_id %>
      <%= form.submit submit_text, class:"btn btn-primary" %>
    </div>
    <div class="col-sm-9">
      <%= link_to "Retour", @item, class:"btn btn-secondary" %>
    </div>

  </div>

<% end %>

