<%= form_with(model: item, local: true, :html => { :multipart => true }, class: "form-horizontal") do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group row">
    <label for="tag_name" class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-1">
      <%= form.text_field :number, id: :item_number, value: item.friendly_number, class: "form-control", placeholder:"n°", autocomplete: :off %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :name, id: :item_name, class: "form-control", placeholder:"Titre", autocomplete: :off %>
    </div>
  </div>
  
 <div class="form-group row">
    <label for="series" class="col-sm-2 col-form-label">Tags</label>
    <div class="col-sm-6">
      <%= form.text_field :series, class: "form-control", placeholder:"?", autocomplete: :off %>
    </div>
  </div>
  
 <%= render partial: "attachement_form", locals: { form: form, item: @item } %>

  <div class="form-group">
    <div class="offset-sm-2 col-sm-2">
      <%= form.submit submit_text, class:"btn btn-primary" %>
    </div>
  </div>

<% end %>