<%= form_with(model: item, local: true, :html => { :multipart => true }, class: "form-horizontal") do |form| %>
  <% if item.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h3>Oups...</h3>
      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group row">
    <label for="item_name" class="col-sm-2 col-form-label">Titre</label>
    <div class="col-sm-1">
      <%= form.text_field :number, id: :item_number, value: item.friendly_number, class: "form-control", placeholder:"n°", autocomplete: :off %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :name, id: :item_name, class: "form-control", placeholder:"Titre", autocomplete: :off, autofocus: true %>
    </div>
    <div class="col-sm-3">
      <%= form.select(:item_type, @item_types, { selected: @item.item_type }, { id:"item_type", class:"form-control custom-select " }) %>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="tag_names" class="col-sm-2 col-form-label">Tags</label>
    <div class="col-sm-6">
      <%= form.text_field :tag_names, id: "tag_names", class: "form-control", placeholder:"?", autocomplete: :off, data: { tag_list: @tag_list } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">Description</div>
    <div class="col-sm-6">
      <%= form.text_area :description, class:"form-control", rows: 5, id: "item_description"  %>
    </div>
  </div>
  
 <%= render partial: "attachement_form", locals: { form: form, item: @item } %>

  <div class="form-group row align-items-center">
    <div class="offset-sm-2 col-sm-10">
      <div class="form-check form-check-inline">
        <%= form.submit submit_text, class:"btn btn-primary" %>
        <%= link_to "Annuler", @last_tag_path, class:"btn btn-light ml-4" %>
          <% if @item.new_record? %>
            <label for="add_to_collection" class="form-check-label ml-4">
              <%= check_box_tag(:add_to_collection, "1", true, class:"form-check-input" ) %>
              Ajouter à ma collection
            </label>    
          <% end %>
      </div>
    </div>
  </div>

<% end %>