
<!-- Fenêtre modale -->
<div id="avis" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
			<%= form_tag('/items/like') do %>

		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h3 id="item-title"></h3>
		    </div>
		    <div class="modal-body">
		      
				<div class="field">
					<%= text_field_tag 'note', '', id: "item-note" %>
				</div>
				<div class="field">
					<h4>Remarque </h4>
					<%= text_area_tag 'remark', '', id: "item-remark", size: "60x3" %>
				</div>
				
		    </div>
		    <div class="modal-footer">
					<%= hidden_field_tag 'id', '', id: "item-id" %>
					<%= submit_tag 'Sauver' %>
		    </div>

			<% end %>

    </div>
  </div>
</div>
