	
<h2><%= @item.name %></h2>

<p>
	<%= link_to edit_item_path(@item) do %>
		<span class="glyphicon glyphicon-edit"></span>
		Modifier
	<% end %>
</p>

<p>Série : <%= link_to @item.series.name, @item.series %></p>
<p>Numéro: <%= @item.numero %></p>


<h3>Mon commentaire</h3>


	<p>Note : <%= link_to_modal( @item, current_user.id) %> </p>
	<% if @item.like_from(current_user.id).remark.present? %>
		<p>Remarque : <%= @item.like_from(current_user.id).remark %></p>
	<% end %>

<%= render partial: "items/modal" %>
