<div class="rounded-box">
	<div class="pull-right">	
	  <div class="btn-group" role="group">
	    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      <%= fa_icon "cog" %>
	    </button>
	    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
	    	<%= link_to 'Modifier l\'item', edit_item_path(@item), class:'dropdown-item' %>
	    	<%= link_to 'Modifier l\'item BD', edit_item_path(@item, view: "bd"), class:'dropdown-item' %>
	    	<%= link_to 'Supprimer l\'item', @item, method: :delete, class:'dropdown-item', data: { confirm: 'Supprimer l\'élément ?' } %> 
	    </div>
	  </div>
	</div>

	<h3><%= @item.name %></h3>
	<p><small>Ajouté par <%= link_to(@item.adder.name, @item.adder) if @item.adder %>, le <%= long_date(@item.created_at) %></small></p>
	
	<% if @attachments.present? %>
		<div class="row">
			<div class="col-md-8">
				<%= render partial: "shared/carousel", locals: {attachments: @attachments, active_slide_id: 0 } %>
			</div>
			<div class="col-md-4">
	<% end %>

	<p>Numéro : <%= @item.friendly_number if @item.number %></p>
	<% if @item.tags.present? %>
		<% if true  %>
			<p>Série : <%= render_tags ( @item.tags_with_parent("Séries")) %></p>
			<p>Auteurs : <%= render_tags ( @item.tags_with_parent("Auteurs")) %></p>
			<p>Rangement : <%= render_tags ( @item.tags_with_parent("Rangements")) %></p>
		<% else %>
			<%= render_tags(@item.tags) %>
		<% end %>
	<% end %>
	

	
	<% if @item.description.present? %>
		<h4>Notes</h4>
		<%= sanitize @item.description %>
	<% end %>
			

	<% if @attachments.present? %>
			</div>
		</div>
	<% end %>

	
	
	<%= form_with(model: @item, local: true, :html => { :multipart => true }, class: "form-horizontal") do |form| %>
      	Ajouter une image : <%= form.file_field :attachments, multiple: true %>
      	<%= form.submit "Envoyer", class:"btn btn-default" %>
	<% end %>
	
</div>
