<div class="pull-right">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><%= link_to 'Modifier l\'élément', edit_item_path(@item) %></li>
			<li><%= link_to 'Supprimer l\'élément', items_path(@item), method: :delete, data: { confirm: 'Supprimer l\'élément ?' } %> </li>
		</ul>
	</div>
</div>

<h3><%= @item.name %></h3>


<p>Ajouté par <%= link_to(@item.adder.name, @item.adder) if @item.adder %>, le <%= long_date(@item.created_at) %>
<p>Série : <%= link_to @item.series.name, @item.series %></p>
<p>Auteurs : <%= @item.authors_list %></p>
<p>Numéro : <%= @item.numero %></p>
<p>Utilisateurs qui l'ont : </p>
<ul>
<% @item.users.each do |u| %>
	<li><%= link_to u.name, u %></li>
<% end %>
</ul>

<!--
<h3>Mon commentaire</h3>

	<p>Note : <%= link_to_modal( @item, current_user.id) %> </p>
	<% if @item.like_from(current_user.id).present? %>
		<p>Remarque : <%= @item.like_from(current_user.id).remark %></p>
	<% end %>
-->
<%# render partial: "items/modal" %>
<!--
<h3>Autres commentaires</h3>

<% @item.likes.each  do |like| %>
	<% if like.user.id != current_user.id %>
		<blockquote>
			<h5><%= like.user.email %> (le <%= long_date(like.updated_at) %>)</h5>
			<p><%= note_to_s(like.note) %> <%= like.remark %></p>
		</blockquote>
	<% end %>
<% end %>
-->
