<div class="rounded-box">
	<div class="pull-right">
		<div class="btn-group">
			<%= get_link(@previous_id, "left", "Précédent") %>
			<%= get_link(@next_id, "right", "Suivant") %>
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><%= link_to 'Modifier l\'élément', edit_item_path(@item) %></li>
				<li><%= link_to 'Supprimer l\'élément', @item, method: :delete, data: { confirm: 'Supprimer l\'élément ?' } %> </li>
			</ul>
		</div>
	</div>

	<h3><%= link_to @item.series.name, @item.series %> : <%= @item.name %></h3>

	<div class="row">
		<div class="col-md-8">
			<!-- Carousel -->
			<div id="itemCarousel" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner">
			  	<% @attachments.each_with_index do |attachment, i| %>
				  	<div class="item <%=  "active" if i==0 %>">
				      <%= image_tag attachment.image.url %>
				      <div class="carousel-caption">
				      	<%= long_date(attachment.image_updated_at) %>
				      </div>
				    </div>			      
				    <% content_for :carousel_indicators do %>
				    	<li data-target="#itemCarousel" data-slide-to=<%= i.to_s %> class="<%= "active" if i==0 %>"></li>
				    <% end %>
			    <% end %>
			  </div>

			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <%= yield :carousel_indicators %>
			  </ol>

			  <!-- Left and right controls -->
			  <a class="left carousel-control" href="#itemCarousel" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			    <span class="sr-only">Précédent</span>
			  </a>
			  <a class="right carousel-control" href="#itemCarousel" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			    <span class="sr-only">Suivant</span>
			  </a>
			</div>
			<!-- End of Carousel -->
		</div>
		<div class="col-md-4">
			<h4>
				<%= "n°"+friendly(@item.number).to_s+" - " if @item.number %>
				<%= @item.name %>
			</h4>
			<% if @item.tags.present? %>
				<p><%= @item.series.category.tag_name %> : <%= @item.tags_list %></p>
			<% end %>
			<p>Ajouté par <%= link_to(@item.adder.name, @item.adder) if @item.adder %>, le <%= long_date(@item.created_at) %></p>
			
					
			<%= react_component "ItemQuantity", render(template: 'items/_quantity.json.jbuilder', locals: {item:  @item })  %>
			
			<% if @item.description.present? %>
				<h4>Description</h4>
				<%= @item.description %>
			<% end %>

			<%= react_component "UpVote", render(template: 'items/_item.json.jbuilder', locals: {item: @item}) , class: "upvote-in-table" %>
			
			
		</div>
	</div>
	
</div>