<div class="rounded-box">
	<div class="float-right">
		<%= render partial: "shared/collector_menu" %>
	</div>

	<div class="mt-2 mb-4">
		<%= render partial: "shared/tags", locals: { elder_tags: @elder_tags, active_tags: @active_tags} %>
	</div>
	
	<% if @item.attachments.count > 0 %>
		<div class="row">
			<div class="col-md-6">
				<%= render partial: "shared/carousel", locals: {attachments: @item.attachments, active_slide_id: 0 } %>
			</div>
			<div class="col-md-6">
	<% end %>

	<h3><%= @item.name %></h3>

		<div class="mt-3 mb-3">
			<%= render_users(@item) %>
		</div>

			<% if @item.tags.present? %>
				<div class="mb-3">
					<% if @item.item_type == "bd" or @item.item_type == "livre"  %>
						<p>Série : <%= render_tags ( @item.tags_with_parent("Séries")) %></p>
						<p>Auteurs : <%= render_tags ( @item.tags_with_parent("Auteurs")) %></p>
						<p>Rangement : <%= render_tags ( @item.tags_with_parent("Rangements")) %></p>
						<p>Numéro : <%= @item.friendly_number %></p>
					<% else %>
						<p><%= render_tags(@item.tags) %></p>
						<% if @item.number.present? %>
							<p>Numéro : <%= @item.friendly_number %></p>
						<% end %>
					<% end %>
				</div>
			<% end %>				

			<% if @item.description.present? %>
				<div class="mt-3 mb-3">
					<%= sanitize @item.description %>
				</div>
			<% end %>

			

			<b>Notes</b>
			<ul>
			<% @notes.each do |note| %>
			  <li><%= hist_date(note.created_at) %> : <%= note.classification %> : <%= note.message %></li>
			<% end %>
			</ul>

			<b>Ajouter une note</b>
			<%= form_with(model: [ @item, @item.tasks.build ], local: true) do |form| %>
				<div class="form-group">
				    <%= form.select :classification, options_for_select([ ["Ligature","ligature"], ["Rempotage", "rempotage"], ["Taille des racines", "racines"], ["Taille de structure","structure"], ["Taille de densification", "densification"] ]), {prompt: "Activité réalisée ?"}, { class: "form-control custom-select"}  %>
				    <%= form.text_area :message, class: "form-control" %>
				    <%= form.date_field :created_at, class: "form-control" %>
				    <%= form.submit 'Créer', class: "btn btn-light" %>
				</div>
			<% end %>

	<% if @item.attachments.count > 0 %>
			</div><!-- col -->
		</div><!-- row -->
	<% end %>

<!-- ><hr />
	<p><%= link_to "Charger plus d'infos", enhance_item_path, :remote => true %></p>
	<div id="enhanced_content" class="m-3">
		<%# render partial: "items/enhance/"+@item.item_type, locals: {item: @item} %>
	</div>
-->

	<%= form_with(model: @item, local: true, :html => { :multipart => true }, class: "form-horizontal mt-5 mb-2") do |form| %>
      	Ajouter une image : <%= form.file_field :attachments, multiple: true %>
      	<%= form.submit "Envoyer", class:"btn btn-default" %>
	<% end %>
	


	



</div><!-- rounded-box -->

