<div class="rounded-box">
	<div class="pull-right">
		<div class="btn-group">
			<%= get_link(@previous_id, "left", "Précédent") %>
			<%= get_link(@next_id, "right", "Suivant") %>
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><%= link_to 'Modifier l\'élément', edit_item_path(@item) %></li>
				<li><%= link_to 'Supprimer l\'élément', @item, method: :delete, data: { confirm: 'Supprimer l\'élément ?' } %> </li>
			</ul>
		</div>
	</div>

	<h3><%= link_to @item.series.name, @item.series %> : <%= @item.name %></h3>

	<div class="row">
		<div class="col-md-8">
			<%= render partial: "shared/carousel", locals: {attachments: @attachments, active_slide_id: 0 } %>
		</div>
		<div class="col-md-4">
			<h4>
				<%= "n°"+@item.friendly_number+" - " if @item.number %>
				<%= @item.name %>
			</h4>
			<% if @item.tags.present? %>
				<p><%= @item.series.category.tag_name %> : <%= @item.tags_list %></p>
			<% end %>
			<p>Ajouté par <%= link_to(@item.adder.name, @item.adder) if @item.adder %>, le <%= long_date(@item.created_at) %></p>
			
					
			<%= react_component "ItemQuantity", render(template: 'items/_quantity.json.jbuilder', locals: {item:  @item })  %>
			
			<% if @item.description.present? %>
				<h4>Description</h4>
				<%= @item.description %>
			<% end %>

			<%= react_component "UpVote", render(template: 'items/_item.json.jbuilder', locals: {item: @item}) , class: "upvote-in-table" %>
			
			
		</div>
	</div>
	
</div>