
<div id="create-post">

  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <%= profile_picture(current_user) %>
     
      <div class="text-zone">
        <%= form.text_area :message, id: :post_message %> 
      </div>
      <div class="tool-box">
        <div id="uploaded-files">
        </div>
        <div class="btn-group pull-right">
          <label class="btn btn-primary btn-file">
            <span class="glyphicon glyphicon-paperclip" title="Ajouter des photos"></span> 
            <%= form.file_field :attachments, multiple: true, class:"hidden" %>
          </label>

          <%= button_tag type: "button", class: "btn btn-primary", id: "button-emoji", title: "Ajouter une émoticône" do %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>

          <%= form.button type: "submit", class: "btn btn-primary", title: "Poster le message" do %>
            <span class="glyphicon glyphicon-send"></span>
          <% end %>
        </div>
      </div>
  

  <% end %>

</div>