
<div id="post-new">

  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    
    <div class="inline">
      <%= profile_picture(current_user) %>
    </div>
        
    <div class="inline text-zone">
      <%= form.text_area :message, id: :post_message %> 
    </div>

    <div style="height:37px;">
      <div class="btn-group pull-right">
        <div class="btn btn-primary btn-file">
          <label for="post_attachments" class="mb-0" title="Ajouter une photo"><%= fa_icon("paperclip") %></label>
          <%= form.file_field :attachments, multiple: true, class:"d-none", id:"post_attachments" %>
        </div>
        <%= form.button type: "submit", class: "btn btn-primary", title: "Poster le message" do fa_icon("paper-plane") end %>
      </div>  
    </div>
  
    <div id="live-preview"></div>

  <% end %>  

</div>