<% posts.each do |post| %>
	<div class="post rounded-box">
	  <a name="<%= post.id %>"></a>
	  <div class="post-header">
	    <div class="float-right">

	      <span class="time">
	        <%= long_date post.created_at %>
	      </span>

				<%= link_to post, class:"high-color" do far_icon("eye") end %> 
	      <% if (post.user_id == current_user.id) || current_user.can?(:admin) %>
	        <%= link_to edit_post_path(post), class:"high-color" do far_icon("edit") end %>
	        <%= link_to post, method: :delete, data: { confirm: 'Etes-vous certain de supprimer ce message et tous les commentaires associés ?' }, class:"high-color" do far_icon("trash-alt") end %>
	      <% end %>
	    </div>

	    <div class="float-left">
	      <%= profile_picture(post.user) %>
	    </div>
	    
	    <div class="user-name">
	      <%= link_to post.user.name, post.user, class:"high-color" %>
	    </div>
	  </div>

	  <%# Pas de cache car l'en-tête depend de current_user pour le bouton modifier et supprimer %>
	  <% cache post do %>
	    <div class="post-message">
	      <%= sanitize post.message %>
	    </div>

	    <% if post.preview_url %>  
	      <%= render partial: "shared/preview_link", locals: { title: post.preview_title, description: post.preview_description, url: post.preview_url, image_url: post.preview_image_url } %>
	    <% end %>

	    <% if post.youtube_id %>  
	      <%= render partial: "shared/preview_youtube", locals: { youtube_id: post.youtube_id } %>
	    <% end %>

	    <% if post.attachments.present? %>
	      <div class="post-message mb-1 text-center"> 
	        <% post.attachments.each_with_index do |a, i| %>
	            <%= link_to image_tag("/" + a.image.url(:thumb), class:"img-thumbnail mb-1"), post_path(post, slide_id: i, anchor: "carousel_photos")   %>           
	        <% end %>
	      </div>
	    <% end %>

	  <% end %>


	  <div class="post-likes row">
	   <div class="col-9">
	     <%= form_with(model: Comment.new, class:"form-inline", html: {autocomplete: "off"} ) do |form| %>
	        <%= form.hidden_field :post_id, name: "comment[post_id]", value: post.id %>
	        <%= form.text_field :message, name: "comment[message]", placeholder: "Votre commentaire...", class:"form-control applause-height" %>
	      <% end %>
	    </div>
	    <div class="col-3">
	      <%= link_to upvote_post_path(post), remote: true, class:"btn btn-light applause-height", role:"button", id: "upvote-#{post.id}", title:"Applaudissements" , data: {toggle: "popover", content:render_votes_title(post.votes_for), placement: "bottom" } do %>
	        <span class="total_upvotes"><%= post.total_upvotes %></span>
	        <%= image_tag "applause.svg" %>
	      <% end %>

	      <%= button_tag type: "button", class:"btn btn-light applause-height", data: {toggle: "collapse", target: "#comments-post-#{post.id}" } do %>
	        <%= post.comments.count if post.comments.present? %>
	        <%= fa_icon("comments")  %>
	      <% end %>
	    </div>
	  </div>

	  <div class="post-comments collapse show" id="comments-post-<%= post.id %>">
	    <div class="comments-list">
	      <% post.comments.each do |comment| %>
	        <%= render partial: "comments/show", locals: { comment: comment, post:post } %>
	      <% end %>
	    </div>
	  </div>
	</div>
<% end %>
