
<div class="post-header">
  <div class="pull-right">

    <%= react_component "Ago", { since: post.created_at.to_i}, style:"display:inline-block" %>

    <% if post.user_id == current_user.id %>
      <%= link_to edit_post_path(post) do %><span class="glyphicon glyphicon-edit"></span><% end %>
      <%= link_to post, method: :delete, data: { confirm: 'Etes-vous certain de supprimer ce message et tous les commentaires associés ?' } do %><span class="glyphicon glyphicon-trash"></span><% end %>
    <% end %>
  </div>

  <%= profile_picture(post.user) %>
  
  <div class="user-name">
    <%= link_to post.user.name, post.user %>
  </div>
</div>