<a name="<%= post.id %>"></a>
<div class="post-header">
  <div class="pull-right">

    <span class="time">
      <%= long_date post.created_at %>
    </span>

    <% if (post.user_id == current_user.id) || current_user.can?(:admin) %>
      <%= link_to edit_post_path(post) do fa_icon("edit") end %>
      <%= link_to post, method: :delete, data: { confirm: 'Etes-vous certain de supprimer ce message et tous les commentaires associés ?' } do fa_icon("trash") end %>
    <% end %>
  </div>

  <%= profile_picture(post.user) %>
  
  <div class="user-name">
    <%= link_to post.user.name, post.user %>
  </div>
</div>