
<div id="post-edit" class="rounded-box">

	<h2>Votre message</h2>

	<%= form_with(model: @post, local: true) do |form| %>

		<% if @post.errors.any? %>
		  <div class="alert alert-danger" role="alert">
		    <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
		    <ul>
		    <% @post.errors.full_messages.each do |message| %>
		      <li><%= message %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>

	  	<div class="text-zone">
	    	<%= form.text_area :message, class: "form-control" %> 
	  	</div>

	  	<div style="height:37px;">
	      <div class="btn-group pull-right">
	        <div class="btn btn-primary btn-file">
	          <label for="post_attachments" class="mb-0" title="Ajouter une photo"><%= fa_icon("paperclip") %></label>
	          <%= form.file_field :attachments, multiple: true, class:"d-none", id:"post_attachments" %>
	        </div>
	        <%= form.button type: "submit", class: "btn btn-primary", title: "Poster le message" do fa_icon("paper-plane") end %>
	      </div>  
	    </div>

		<h4>Vignette</h4>

		<% if @post.preview_url %>
			<p><%= link_to "Supprimer la vignette", remove_preview_post_path, data:  { confirm: "Etes-vous certain de supprimer cette vignette ?"} %></p>
        	<p><%= link_to @post.preview_url, @post.preview_url %></p>
        	<%= render partial: "shared/preview_link", locals: { title: @post.preview_title, description: @post.preview_description, url: @post.preview_url, image_url: @post.preview_image_url } %>
        	

        <% elsif @post.youtube_id %>  
        	<p><%= link_to "Supprimer la vignette", remove_preview_post_path, data:  { confirm: "Etes-vous certain de supprimer cette vignette ?"} %></p>
        	<%= render partial: "shared/preview_youtube", locals: { youtube_id: @post.youtube_id } %>

        <% else %>
          <p>Aucune</p>

        <% end %>

	  	<h4>Pièces jointes</h4>
		
		<% if @post.attachments.present? %>
			<div class="attachments">
				<% @post.attachments.each do |attachment| %>
					<div class="attachment-thumbnail">
						<%= image_tag "/" + attachment.image.url(:thumb) %><br />
						<%= link_to delete_attachment_post_path(@post, attachment.id), class:"attachment-delete-icon", title:"Supprimer", data: {confirm: "Etes-vous certain de supprimer cette pièce jointe ?"} do %>
							<i class="glyphicon glyphicon-remove"></i>
						<% end %>
					</div>
				<% end %>
			</div>
		<% else %>
			<p>Aucune</p>
		<% end %>    

	<% end %>

</div>
