
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">
  
    <%= render partial: "new" , locals: { post: Post.new }  %>


    <% @posts.each do |post| %>
      <div class="post <%= old_post(post, current_user) %> ">

        <div class="post-header">
          <div class="pull-right">

            <%= react_component "Ago", { since: post.updated_at.to_i}, style:"display:inline-block" %>

            <% if post.user_id == current_user.id %>
              <%= link_to edit_post_path(post) do %><span class="glyphicon glyphicon-edit"></span><% end %>
              <%= link_to post, method: :delete, data: { confirm: 'Etes-vous certain de supprimer ce message et tous les commentaires associés ?' } do %><span class="glyphicon glyphicon-trash"></span><% end %>
            <% end %>
          </div>

          

          <%= profile_picture(post.user) %>
          
          <div class="user-name">
            <%= link_to post.user.name, post.user %>
          </div>
        </div>
        
        <div class="post-message">
          <%= post.message.html_safe %>
        </div>

        <% if post.attachments.present? %>
          <div class="post-photo-gallery"> 
            <% post.attachments.each do |a| %><%= image_tag a.image(:medium), class:"img-thumbnail" %><% end %>
          </div>
          
        <% end %>
          
        <div class="likes">
          <%= react_component "UpVote", 
                render(template: 'posts/_post.json.jbuilder', locals: {post: post}),  
                {style: "display:inline-block"} %>
          
          <%= button_tag type: "button", class:"btn #{old_comment(post.last_commented_at, current_user)}", data: {toggle: "collapse", target: "#comments-post-#{post.id}" } do %>
            <%= post.comments.count if post.comments.present? %>
            <span class="glyphicon glyphicon-comment"></span>
          <% end %>
        </div>

        <div class="comments collapse" id="comments-post-<%= post.id %>">
          <div class="comments-list">
            <% post.comments.each do |comment| %>
              <%= render partial: "comments/show", locals: { comment: comment, post:post } %>
            <% end %>
          </div>
          <div class="comment-add">
            <%= render partial: "comments/form", locals: { comment: Comment.new(user_id: current_user.id, post_id: post.id)} %>
          </div>
        </div>

      </div>
    <% end #  posts.each %>

  </div>
  <div class="col-sm-3">
    <h4>Archives</h4>

    <!-- <p>User last_sign_in_at : <%= current_user.last_sign_in_at.strftime("%d/%m/%Y %Hh%M:%S") if current_user.present? %> </p> -->

  </div>
</div> 




