
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">
  
    <%= render partial: "new" , locals: { post: Post.new }  %>


    <% @posts.each do |post| %>
      <div class="post rounded-box <%= old_post(post, current_user) %> ">

        <%= render partial: "post_header", locals: {post: post} %>
        
        <div class="post-message">
          <%= sanitize post.message %>
        </div>

        <% if post.preview_url %>  
          <%= render partial: "posts/preview", locals: { title: post.preview_title, description: post.preview_description, url: post.preview_url, image_url: post.preview_image_url } %>
        <% end %>

        <% if post.attachments.present? %>
          <div class="post-message row text-center"> 
            <% post.attachments.each_with_index do |a, i| %>
              <div class="col-xs-6">
                <%= link_to post_path(post, slide_id: i) do %>
                  <%= image_tag a.image(:medium), class:"img-thumbnail" %>
                <% end %>
              </div>
              <% "</div><div class='row'>" if ((i % 2) == 0) %>
            <% end %>
          </div>
        <% end %>
          
       <%= render partial: "post_comments", locals: {post: post} %>

      </div>
    <% end #  posts.each %>

  </div>
  <div class="col-sm-3">
    <h4>Archives</h4>

    <!-- <p>User last_sign_in_at : <%= current_user.last_sign_in_at.strftime("%d/%m/%Y %Hh%M:%S") if current_user.present? %> </p> -->

  </div>
</div> 




