
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">
  
    <%= render partial: "form" , locals: { post: Post.new, submit_text: "Poster", intro_text: "Poster un message" }  %>


    <% @posts.each do |post| %>
      <div class="post">

        <div class="post-header">
          <div class="pull-right">
            <span class="time">
              Le <%= format_date(post.updated_at) %>
            </span> 
            <%= link_to edit_post_path(post) do %><span class="glyphicon glyphicon-edit"></span><% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Etes-vous certain de supprimer ce message et tous les commentaires asociés ?' } do %><span class="glyphicon glyphicon-trash"></span><% end %>
          </div>

          

          <%= profile_picture(post.user) %>
          
          <div class="user-name">
            <%= post.user.name %>
          </div>
        </div>
        
        <div class="post-message">
          <%= post.message %>
        </div>

        <div class="likes">
          J'aime
         
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#comments-post-<%= post.id %>">
               <% if post.comments.present? %>
                <%= pluralize(post.comments.count, "réponse", "réponses") %>
              <% else %>
                Répondre
              <% end %>
             </button>
        </div>

        <div class="comments collapse" id="comments-post-<%= post.id %>">
          <% post.comments.each do |comment| %>
            <%= render partial: "comments/show", locals: { comment: comment } %>
          <% end %>

          <div class="comment-add">
            <%= render partial: "comments/form", locals: { comment: Comment.new(user_id: current_user.id, post_id: post.id)} %>
          </div>
        </div>

      </div>
    <% end %>

  </div>
  <div class="col-sm-3">
    <h4>Archives</h4>

  </div>
</div> 




