
<%= form_with model: @category, local: true do |form| %>

 <% if @category.errors.any? %>
    <div id="error_explanation">
        <%= pluralize(@category.errors.count, "erreur") %> bloquent la création de cette catégorie :
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label "Vue par défaut" %><br>
    <%= form.select(:default_view, options_for_select([ ["Liste", "list"],["Galerie", "gallery"] ], selected_key = @category.default_view) ) %>
  </p>
  <p>
    <%= form.label :view_alphabet do %>
      <%= form.check_box :view_alphabet, id: :category_view_alphabet %> Afficher la barre Alphabet 
    <% end %>
  </p>
  <p>
    <%= form.label :menu do %>
      <%= form.check_box :menu, id: :category_menu %> Afficher dans le menu supérieur 
    <% end %>
  </p> 

	<p>
    <%= form.submit submit_text %>
  </p>

<% end %>
