
<div class="row">
	<div class="col-sm-6">		
		<div class="rounded-box">
			<div class="pull-right">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span>
				 	<span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
					    <li><%= link_to "Modifier", edit_category_path(@category)  %></li>
					    <li><%= link_to "Supprimer", category_path(@category), method: :delete, data: { confirm: 'Etes-vous certain de supprimer une catégorie entière ainsi que toutes les séries et tous les éléments qu\'elle contient ?' } %>
					    </li>
				  	</ul>
				</div>				
			</div>
			
			<h2><%= @category.name %></h2>

			<ul>
				<% @series.each do |serie| %>
					<li><%= link_to serie.name, serie %> (<%= serie.items.count %>)</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="rounded-box">
			<%= render partial: "shared/latest", locals: {items: @latest_items, category_name: @category.name } %>
		</div>
	</div>

</div>

