<% content_for :current_category do %>
	<%= link_to @category.name, category_path(@category) %>
<% end %>


<h2>
	<%= @category.name %>
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><%= link_to 'Modifier', edit_category_path(@category) %></li>
			<li><%= link_to 'Supprimer', category_path(@category), method: :delete, data: { confirm: 'Certain ?' } %> </li>
		</ul>
	</div>
</h2>





<ul>

<% @series.each do |serie| %>

	<li><%= link_to serie.name, serie %></li>

<% end %>

<ul>


