
<div class="row">
	<div class="col-sm-6">		
		<div class="rounded-box">
			<div class="pull-right">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span>
				 	<span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><%= link_to "Nouvelle catégorie", new_category_path  %></li>
					    <li><%= link_to "Modifier \"#{@category.name}\"", edit_category_path(@category)  %></li>
					    <li class="divider"></li>
					    <li><%= link_to "Nouvelle série", new_series_path %></li>
						
					    
				  	</ul>
				</div>				
			</div>
			
			<h2><%= @category.name %></h2>

			<div class="btn-group header-letters">
				<% ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "#"].each do |letter| %>
					<%= link_to letter, category_path(@category, letter: letter), role: "button", class: "btn btn-default btn-xs #{"active" if (params[:letter]==letter)}" %>
				<% end %>
			</div>

			<ul>
				<% @series.each do |serie| %>
					<li><%= link_to serie.name, serie %></li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="rounded-box">
			<%= render partial: "shared/latest", locals: {items: @latest_items, category_name: @category.name } %>
		</div>
	</div>

</div>

