<%= form_with(model: series, local: true, class: "form-horizontal") do |form| %>
  <% if series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% series.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label col-sm-2" for="series_name">Nom</label>
    <div class="col-sm-5">
      <%= form.text_field :name, id: :series_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="series_letter">Classement à la lettre </label>
    <div class="col-sm-5">
      <%= form.text_field :letter, id: :series_letter, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="series_category_id">Catégorie</label>
    <div class="col-sm-5">
      <%= form.select("category_id", Category.all.collect {|c| [ c.name, c.id ] }, {}, {class: "form-control" } ) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-7">
      <%= form.submit submit_text , class:"btn btn-primary"  %>
    </div>
  </div>

<% end %>
