<%= form_with(model: series, local: true) do |form| %>
  <% if series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% series.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Nom :     <%= form.text_field :name, id: :series_name %>
  </div>

  <div class="field">
    Catégorie : 	<%= form.select("category_id", Category.all.collect {|c| [ c.name, c.id ] }) %>
  </div>

  <div class="actions">
    <%= form.submit submit_text %>
  </div>

<% end %>
