
<table class="table table-striped" id="product-list">
  <thead>
	  <tr>
	    <th></th>
	    
	    <th>Titre</th>
		<th>Auteurs</th>
		<th></th>
		<th></th>
		<th></th>
	  </tr>
  </thead>
  <tbody>
	<% items.each do |item| %>
		<% if item.is_owned_by?(current_user.id) %>
			<tr class="owned-by-user">
		<%else %>
			<tr class="not-owned-by-user">
		<% end %>
			
			<td><%= item.number %></td>
			
			<td>
				<%= link_to item.name, item %></a>
			</td>
			<td> 
				<%= item.authors.map{ |author| link_to(author.name, author) }.join(", ").html_safe %>
			</td>
			<td>
				<!-- <UpVote item=item /> -->
			</td>
			<td>
				<div class="quantity_management">
					<%= link_to minus_item_path(item), remote: true do %>
						<span class="glyphicon glyphicon-minus" title="Diminuer"></span>
					<% end %>
					<span class="quantity" data-item-id="<%= item.id.to_s %>">
						<%= item.quantity_for(current_user.id).to_s %>
					</span>
			 		<%= link_to plus_item_path(item), remote: true do %>
				 		<span class="glyphicon glyphicon-plus" title="Augmenter"></span>
			 		<% end %>
			 	</div>
		 	</td>
			<td>
		  		<%= link_to edit_item_path(item) do %>
					<span class="glyphicon glyphicon-edit"></span>
				<% end %>
				&nbsp;
				<%= link_to item, method: :delete, data: { confirm: "Etes vous certain de supprimer cet élément ?" } do %>
		  			<span class="glyphicon glyphicon-trash"></span>
				<% end %>
		  	</td>
		</tr>
	<% end %>
  </tbody>
</table>