
<!-- 
<div class="rounded-box">
	<%# react_component "SeriesList", render(template: 'series/show.json.jbuilder') %>

	<div class="separator">
		<%# render partial: "items/form", locals: {item: @new_item, submit_text: "Ajouter" } %>
	</div>
</div>
-->

<%# render(template: 'series/show.json.jbuilder') %>
<%# render(template: 'items/index.json.jbuilder') %>
<%# render partial: "items/modal" %>

<div class="rounded-box">
	<div class="series-show">
		<div class="btn-group">
			<%= link_to star_series_path(@series), remote: true, class:"btn btn-default btn-sm" do %>
			 	<span class="glyphicon <%= @starred ? 'glyphicon-star' : 'glyphicon-star-empty' %>" id="series-star"></span>
			<% end %>
			<%= link_to series_path(@series, view: "list"), class:"btn btn-default btn-sm" do %>
				<span class="glyphicon glyphicon-th-list"></span>
			<% end %>
			<%= link_to series_path(@series, view: "gallery"), class:"btn btn-default btn-sm" do %>
				<span class="glyphicon glyphicon-th"></span>
			<% end %>

			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li>
					<%= link_to "Modifier la série", edit_series_path(@series) %>
				</li>

				<li>
					<%= link_to "Supprimer la série", @series, method: :delete, data: {confirm: "Supprimer la série entière et tous les éléments qu'elle contient ?" } %>
				</li>
			</ul>
		</div>

		<h1>
			<%= @series.name %>
		</h1>
		
		<% if @gallery_view %>
			<%= render partial: "gallery", locals: {items: @items } %>
		<% else %>
			<%= render partial: "table", locals: { items: @items} %>
		<% end %>

	</div>
	<div class="mt-4">
		<%= render partial: "items/form", locals: {item: @new_item, submit_text: "Ajouter" } %>
	</div>
</div>