
<h1>
	<%= @series.name %>

	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><%= link_to 'Edit', edit_series_path(@series) %></li>
			<li><%= link_to 'Supprimer', series_path(@series), method: :delete, data: { confirm: 'Supprimer la série entière et tous les éléments qu\'elle contient ?' } %> </li>
		</ul>
	</div>

</h1>



<table class="table table-striped">
  <tr>
    <th></th>
		<th></th>
    <th>Titre</th>
		<th>Auteurs</th>
		<th>Note</th>
		<th>Remarque</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.numero %></td>
   	<td>
			<%= link_to edit_item_path(item) do %>
				<span class="glyphicon glyphicon-edit"></span>
			<% end %>
		</td>
		<td><%= link_to item.name, item_path(item) %></td>
    <td><%= raw item.authors.map { |a| link_to(a.name, authors_path(a)) }.join(", ") %></td>
		<td><%= item.like_from(current_user.id).note %></td>
		<td><%= link_to_modal(item, current_user.id) %></td>
  </tr>
<% end %>

</table> 


<%= render partial: "items/form", locals: {item: @new_item } %>



<!-- Fenêtre modale -->
<div id="avis" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
			<%= form_tag('/items/like') do %>

		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h3 id="item-title">Titre</h3>
		    </div>
		    <div class="modal-body">
		      
					<div class="field">
						<%= text_field_tag 'note', '', id: "item-note" %>
					</div>
					<div class="field">
						<h4>Remarque </h4>
						<%= text_area_tag 'remark', '', id: "item-remark", size: "60x3" %>
					</div>
				

		    </div>
		    <div class="modal-footer">
					<%= hidden_field_tag 'id', '', id: "item-id" %>
					<%= submit_tag 'Sauver' %>
		    </div>

			<% end %>

    </div>

  </div>
</div>




