<p><%= data[:user].name %> vient d'ajouter des photos à <%= pluralize(data[:quantity], "item", "items") %> :</p>

<div class="add-pictures-attachments">
	<% data[:jobs].each_with_index do |job, i| %>
			<% a = Attachment.where(id: job[:memory][:attachment_ids]).each do |attach| %>
				
				<%= link_to item_path(attach.element.id) do %>
					<div class="add-pictures-attachment img-thumbnail box-shadow">
						<%= image_tag ("/"+attach.image.url(:medium)) %>
						<div class="add-pictures-description">
							<%= attach.element.name %>
						</div>
					</div>
				<% end %>
				
			<% end %>

	<% end %>
</div>
