
<h2>Jobs</h2>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Action</th>
			<th>Element_id</th>
			<th>Element_type</th>
			<th>User_id</th>
			<th>Memory</th>
			<th>Done</th>
			<th>Created_at</th>
		</tr>
	</thead>
	<tbody>
		<% @jobs.each do |job| %>
			<tr>
				<td><%= job.id %></td>
				<td><%= job.action %></td>
				<td><%= job.element_id %></td>
				<td><%= job.element_type %></td>
				<td><%= job.user_id %> </td>
				<td><%= job.memory.to_s %></td>
				<td><%= job.done %></td>
				<td><%= job.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>	
