<!DOCTYPE html>
<html>
  <head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vergeylen.eu</title>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
  </head>

  <body>


		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false">
				    <span class="sr-only">Ouvrir le menu</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				  </button>
				  <%= link_to root_path, class: "navbar-left" do %>
				  	<%= image_tag "favicon.png", class: "navbar-brand-logo" %>
				  <% end %>
				</div>

				<div class="collapse navbar-collapse" id="top-navbar">
				  <ul class="nav navbar-nav">
				  	<% if user_signed_in? && current_user.can?(:une) %>
				  		<li><%= link_to "La Une", posts_path, class:"white-link" %></li>
				  	<% end %>
			    	<li><%= link_to "Collector", categories_path, class:"white-link" %></li>
		            <% Category.where(menu: true).order(:name).each do |category| %>
		            	<li><%= link_to category.name, category, class:"white-link" %></li> 
		            <% end %>
				  </ul>
				  
				  <ul class="nav navbar-nav navbar-right">
				    <li class="dropdown">
						<% if user_signed_in? %>

						    <a href="#" class="dropdown-toggle white-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<%= image_tag current_user.avatar.url(:tiny), alt: "Icon", class: "profile-picture" %>
								<%= current_user.name %>
								<span class="caret"></span>
							</a>
						    <ul class="dropdown-menu">		
								<li><%= link_to 'Mon profil', current_user %></li>
					        	<li><%= link_to 'Modifier mon profil', edit_user_registration_path %></li>
					        	<li><%= link_to 'Mes favoris', favorites_user_path(current_user) %></li>
					        	<li role="separator" class="divider"></li>
					        	<li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
							</ul>

						<% else %>

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Connexion
								<span class="caret"></span>
							</a>
						    <ul class="dropdown-menu">		
								<li><%= link_to 'Connexion', new_user_session_path %> </li>
							</ul>

						<% end %>
 					</li>
				  </ul>

					<%= form_tag(search_keyword_path, method: "get", class: "navbar-form navbar-right") do %>
				    <div class="form-group">
				      <%= text_field_tag(:keyword, "", { placeholder: "Recherche", class: 'form-control', autocomplete: 'off' }) %>
							
				    </div>
				  <% end %>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div id="main-container" class="container">
			<% if notice %>
				<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
				<p class="alert alert-danger"><%= alert %></p>
			<% end %>

			<%= yield %>
		</div>

  </body>
</html>
